<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chejdj.androiddamon">
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".MyApplication"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--这里的recent就是手机多任务健，看到最近我们使用的应用，excludeFromRecents设置为true就看不到了
        android:exported 是否支持其它应用调用当前组件
        android：finishOnTaskLaunch ,如果设置为true，只要离开这个Task，系统会马上清理这个Activity
        -->
        <activity android:name=".activity.KeepLiveActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
                  android:excludeFromRecents="true"
                  android:exported="false"
                  android:launchMode="singleInstance"
                  android:theme="@style/liveActivityStyle"/>
        <receiver android:name=".broadcast.KeepliveDynamicReceiver"/>
        <receiver android:name=".broadcast.KeepliveStaticReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.action.BATTERY_LOW"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.KeepLiveService"/>
        <service android:name=".service.KeepLiveService$Companion$InnerService"/>
        <service android:name=".service.KeepLiveJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!--账号同步相关-->
        <service android:name=".accountsync.AuthenticationService"
                 android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>
        <service android:name=".accountsync.SyncService"
                 android:exported="true"
                 android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/sync"/>
        </service>
        <provider android:authorities="com.chejdj.androiddamon.provider"
                  android:process=":sync"
                  android:name=".accountsync.ProviderForSync"
                  android:syncable="true"/>
    </application>

</manifest>