<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chejdj.androiddamon">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".MyApplication"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--这里的recent就是手机多任务健，看到最近我们使用的应用，excludeFromRecents设置为true就看不到了
        android:exported 是否支持其它应用调用当前组件
        android：finishOnTaskLaunch ,如果设置为true，只要离开这个Task，系统会马上清理这个Activity
        -->
        <activity android:name=".activity.KeepLiveActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
                  android:excludeFromRecents="true"
                  android:exported="false"
                  android:launchMode="singleInstance"
                  android:theme="@style/liveActivityStyle"/>
        <receiver android:name=".broadcast.KeepliveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.KeepLiveService"/>
        <service android:name=".service.KeepLiveService$Companion$InnerService"/>

    </application>

</manifest>